@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro&display=swap');

/* custom scroll bar */

/* Width */
::-webkit-scrollbar {
    width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(198, 203, 233); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightslategray; 
}

:root {
    --white: #fff;
    --black: #2f2f2f;
    --mid-blue: #2978B5;
    --dark-blue: #0061A8;
    --background-middle: #FBE0C4 ;
    --border-black: #131313;
    --font-header: "Montserrat", "Helvetica", "sans-serif";
    --sub-heading: "Montserrat", "Helvetica", "sans-serif";
    --font-content: "Poppins", "Helvetica", "sans-serif";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: fit-content;
    overflow: overlay;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: var(--font-header);
}

/* MAIN */

/* Main First Section Start */

.hero-section {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1260' preserveAspectRatio='none' viewBox='0 0 1920 1260'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1920' height='1260' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1952 1260L0 1260 L0 696.57Q132.2 668.77%2c 160 800.96Q220.88 701.84%2c 320 762.71Q313.21 659.92%2c 416 653.14Q484.98 562.12%2c 576 631.09Q706.98 602.07%2c 736 733.04Q796.16 633.2%2c 896 693.37Q969.75 671.12%2c 992 744.86Q1115.09 707.95%2c 1152 831.04Q1201.94 720.98%2c 1312 770.92Q1336.2 635.12%2c 1472 659.32Q1540.46 567.78%2c 1632 636.24Q1772.06 616.3%2c 1792 756.35Q1855.03 659.38%2c 1952 722.4z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M2080 1260L0 1260 L0 974.13Q-45.24 832.88%2c 96 787.64Q230.34 761.99%2c 256 896.33Q369 849.33%2c 416 962.32Q469.99 920.31%2c 512 974.3Q575.47 941.77%2c 608 1005.24Q646.41 947.65%2c 704 986.06Q717.32 839.38%2c 864 852.69Q955.3 784%2c 1024 875.3Q1050.08 805.38%2c 1120 831.45Q1177.21 792.66%2c 1216 849.88Q1302.42 840.3%2c 1312 926.72Q1324.94 779.66%2c 1472 792.6Q1587.65 812.25%2c 1568 927.9Q1649.78 913.68%2c 1664 995.46Q1667.69 839.15%2c 1824 842.84Q1856.53 779.37%2c 1920 811.9Q1990.5 722.4%2c 2080 792.9z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M2016 1260L0 1260 L0 1022.11Q115.79 1041.9%2c 96 1157.7Q85.47 987.17%2c 256 976.65Q288.78 913.43%2c 352 946.22Q425.82 924.04%2c 448 997.85Q550.56 940.41%2c 608 1042.98Q719.99 994.97%2c 768 1106.95Q839.5 1018.45%2c 928 1089.95Q928.4 994.35%2c 1024 994.75Q1094.63 905.38%2c 1184 976.02Q1251.01 947.03%2c 1280 1014.05Q1426.53 1000.58%2c 1440 1147.11Q1445.87 1056.98%2c 1536 1062.85Q1561.37 992.22%2c 1632 1017.59Q1697.23 986.82%2c 1728 1052.05Q1770.17 998.22%2c 1824 1040.39Q1915.93 1036.32%2c 1920 1128.25Q1933.07 1045.32%2c 2016 1058.39z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1984 1260L0 1260 L0 1320.5Q-23.47 1201.03%2c 96 1177.56Q126.49 1112.05%2c 192 1142.53Q297.6 1088.13%2c 352 1193.73Q456.11 1137.84%2c 512 1241.94Q549.96 1119.9%2c 672 1157.87Q732.73 1058.6%2c 832 1119.33Q891.62 1082.94%2c 928 1142.56Q1015.72 1134.28%2c 1024 1222Q1115.22 1217.22%2c 1120 1308.45Q1157.74 1250.19%2c 1216 1287.93Q1268.17 1180.11%2c 1376 1232.28Q1432.84 1193.12%2c 1472 1249.96Q1557.68 1175.64%2c 1632 1261.33Q1737.53 1206.86%2c 1792 1312.38Q1802.38 1226.76%2c 1888 1237.13Q1919.13 1172.27%2c 1984 1203.4z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1920' height='1260' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") no-repeat center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    padding: 0 5em;
    color: var(--white);
    flex-wrap: wrap;
}

.hero-section p.sub-heading {
    margin-bottom: 1em;
    font-family: var(--sub-heading);
}

.hero-section h1 {
    font-size: 3em;
    font-weight: 700;
}

.hero-section .heading-context {
    font-family: var(--font-content) ;
    font-size: 1.2em;
    width: 100%;
    margin-top: 1em;
}

.heading-context ul{
    display: flex;
    flex-direction: row;
}

.heading-context :not(li:last-child) {
    margin-right: 10px;
}

.heading-context a {
    color: var(--white);
}

.heading-context a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  .heading-context a, .right-container-list a {
    position: relative;
    color: var(--white);
    text-decoration: none;
  }
  
  .heading-context a:hover::before, .right-container-list a:hover::before {
    transform: scaleX(1);
  }

/* Main First Section End */

/* Arrow Animation Start*/

.hero-scroll {
    font-family: var(--sub-heading);
    position: absolute;
    bottom: 2em;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

.hero-scroll a {
    text-decoration: none;
    color: var(--white);
}

.hero-arrow {
    display: flex;
    justify-content: center;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* Arrow Animation End */

/* ABOUT */

/* About first section start */

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-middle);
    margin-left: auto;
    margin-right: auto;
    padding: 3em 5em;
}

.about-inner-container {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: row;
}

.left-about, .right-about {
    width: 50%;
}

.about-context {
    padding-top: 2em;
    width: 90%;
}

.about-section .about-context p{
    font-family: var(--font-content);
    line-height: 2em;
}

.about-section h2 {
    font-size: 3em;
}

/* About first section end */

/* WORKS */

.work-section {
    background-color: var(--background-middle);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3em 5em;
    font-family: var(--font-content);
}

.work-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.work-section h2 {
    padding-bottom: 1em;
    font-size: 3em;
}

.card {
    grid-column:span 3;
    width: 100%;
    padding: 0.4em;
}

.col2 {
    grid-column:span 2;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.card-image img {
    object-fit: cover;
    width: auto;
    max-width: 100%;
    border-radius: 6px 6px 6px 6px;
    height: auto;
}

.card-image:hover {
    transform: scale(0.98);
}

/* Skills start*/

.skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-middle);
    padding: 3em 5em;
    font-family: var(--sub-heading);
    width: 100%;
}

.skills-section h3 {
    font-size: 3em;
}

.skills-subheader {
    padding-bottom: 2em;
    font-size: 1.5em;
}

.skills-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.skills-card {
    border: 2px solid var(--border-black);
    box-shadow: 4px 4px var(--black);
    border-radius: 5px;
    padding: 1em;
    margin: 0.4em;
    height: auto;
}

.skills-section .skills-card img{
    width: 20%;
}

.skills-section h5 {
    font-size: 1.2em;
    padding: 0.7em 0;
}

.skills-section p {
    line-height: 1.5em;
}

/* Skills end */

.header-table {
list-style-type: none;
border: 2px solid var(--mid-blue);
border-radius: 7px;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
}

.header-table:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.header-table .main-head {
background-color: var(--mid-blue);
color: var(--white);
font-size: 19px;
}

.header-table li {
background-color: var(--white);
border-bottom: 1px solid var(--mid-blue);
padding: 20px;
text-align: center;
}

/* Main Last Section Start */

.contact-section {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-content);
    background-color: var(--background-middle);
    flex-direction: column;
    padding: 3em 5em;
}

.inner-contact {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-contact {
    border-radius: 5px;
    padding: 20px;
}

.left-contact span {
    line-height: 2em;
}

.left-contact span {
    color: var(--black);
}

.contact-section h2 {
    font-size: 2em;
    padding-bottom: 10px;
}

.right-contact {
    height: auto;
    overflow: visible;
}

.right-contact :not(li:last-child) {
    margin-right: 10px;
}

.right-container-list {
    display: flex;
    flex-direction: row;
}

.right-container-list a {
    color: var(--black)
}

.right-container-list a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

/* Main Last Section End */

/* TABLET RESPONSIVE */

@media only screen and (max-width: 1080px) { 
    .skills-card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
}

@media only screen and (max-width: 767px) {

    .hero-section {
        overflow: hidden;
    }

    .hero-section h1 {
        font-size: 3.5em;
    }

    .hero-section .left-side-hero {
        height: 30em;
    }

    .heading-context li {
        font-size: 16px;
        overflow: hidden;
    }

    .heading-context :not(li:last-child) {
        margin-right: 7px;
    }

    .about-section {
        flex-wrap: wrap;
        width: 100%;
        padding: 1.5em;
    }

    .about-inner-container {
        gap: 1rem;
    }

    .about-inner-container {
        flex-direction: column;
    }

    .left-about, .right-about, .skills-section, .about-context {
        width: 100%;
    }

    .right-about {
        display: inherit;
        align-items: center;
        justify-content: center;
    }

    .right-about img{
        padding-top: 10px;
        max-width: 70%;
    }

    .skills-card-container {
        grid-template-columns: repeat(2 , minmax(16rem, 1fr));
    }

    .work-header-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills-card-container, .work-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .right-contact :not(li:last-child) {
        padding-right: 5px;
    }
}

/* MOBILE RESPONSIVE */

@media only screen and (max-width: 480px) {

    .hero-section {
        padding: 3em 1em;
        flex: wrap;
    }

    .hero-section .heading-context {
        width: 100%;
    }

    .hero-section h1 {
        font-size: 2.2em;
        font-weight: 600;
    }

    .heading-context :not(li:last-child) {
        margin-right: 5px;
    }

    .heading-context li {
        font-size: 14px;
        overflow: hidden;
    }

    .hero-section .left-side-hero {
        padding: 0 1.5em;
    }

    .left-about, .right-about {
        width: 100%;
    }
    
    .about-context {
        width: 100%;
    }

    .skills-card-container, .work-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .work-section, .skills-section, .contact-section {
        padding: 1em;
    }

    .inner-contact {
        align-items: flex-start;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .left-contact {
        padding-left: 0;
    }

    .right-container-list {
        flex-direction: row;
    }
}